@import "colors";

/*
* === EDITING ===
*/

#userAdjacency{
  text-align: center;

  color: @PRIMARY_FONT;
  background-color: @PRIMARY_MAIN;
}

#userAdjacency .interactionList {
  max-height: 600px !important;
  overflow-y: auto;

  border-radius: 25px;
  border: 2px solid @PRIMARY_4;
  background-color: @SECONDARY_MAIN;
}

#userAdjacency h3{
  text-align: center;
}

#userTable {
  width: auto !important;
  border-bottom: @PRIMARY_4 2px !important;
  border: none !important;
}

#userTable tr{
  height: 50px !important;
}

#userTable th{
  border: none !important;
}

#userTable td{
  border: none !important;
  text-align: left !important;
}

#userTable img{
  margin: 0px;
}


/*
* === CHOOSING ===
*/

#choosePerson{
  min-width: 775px !important;
  width: 100%;

  background-color: @PRIMARY_MAIN;
  color: @PRIMARY_FONT !important;
}

#choosePerson h4{
  padding: 15px 25px 20px;
}

#choosePerson .peopleList{
  text-align: left;
  padding-left: 40px;
  margin-bottom: 10px;
  overflow-y: auto;

  border-radius: 25px;
  border: 2px solid @PRIMARY_4;
  background-color: @SECONDARY_1;
}

#choosePerson .interactionList{
  text-align: left;
  padding-left: 10px;
  margin-bottom: 5px;
  overflow-y: auto;

  border-radius: 25px;
  border: 2px solid @PRIMARY_4;
  background-color: @SECONDARY_1;
}

#choosePerson .filter{
  max-width: 250px !important;
}

#choosePerson .bordered-col{
  padding-left: 10px;
  padding-right: 10px;
  border: 2px groove @PRIMARY_1;
  border-radius: 15px;

  font-weight: 400 !important;
  background-color: @SECONDARY_MAIN;
}

#choosePerson .form-group{
  text-align: left !important;
}

/*
* === ADMIN ===
*/

#adminAdjacency{
  width: 100%;
  height: 100%;

  margin: 0;
  /* 3:2*/
  padding: 0 0 66.66% !important;
  top: 0; bottom: 0; left: 0; right: 0;

  overflow-y: auto;
  overflow-x: auto;
}

#adminAdjacency table, th, td {
  border: 1px solid black;
}

#adminAdjacency table, tr, thead, tbody{
  padding: 0px !important;
  margin: 0px !important;
}

#adminAdjacency th, td {
  padding: 2px;
  margin: 0px !important;
}

#adminAdjacency {
  background: @PRIMARY_MAIN;
}

#adminAdjacency th {
  background: @TERTIARY_MAIN !important;
  color: @PRIMARY_FONT;
}
