@import "colors";

/*
* === HIERARCHY MANAGEMENT ===
*/

#interactionsManagement{
  text-align: center;

  color: @PRIMARY_FONT;
  background-color: @PRIMARY_MAIN;
}

/*
* === ADDING INTERACTION ===
*/

#addingInteraction .name {
  max-width: 50%;
}

#addingInteraction .peopleList {
  max-height: 400px !important;
  overflow-y: auto;

  border-radius: 25px;
  border: 2px solid @PRIMARY_4;
  background-color: @SECONDARY_MAIN;

  list-style: none;

  vertical-align: middle;
  text-align: justify !important;
}

