@import "colors";

#register {
  text-align: left !important;
  background-color: @PRIMARY_MAIN;

  color: @PRIMARY_FONT !important;
}

form {
  margin: 10px;
}

.form-group input {
  max-width:300px;
}

