﻿@import "colors";

/*
* === VISUALIZATION ===
*/

div.scene {
    min-width: 345px !important;
}

.vizCanvas {
    position: relative;

    background: black;

    width: 100%;
    margin: 0;
    /* 3:2*/
    padding: 0 0 66.66%;
}

#webglContainer {
    position: absolute;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    top: 0; bottom: 0; left: 0; right: 0;
}


/*
* === SIDE BARS ===
*/

#visualization nav {
    padding: 2px;
    border-radius: 5px;

    background: @PRIMARY_2;
}

.dataTable {
    position: relative !important;
}

/******************************/

#visualization nav.left {}

#visualization nav.left .menu_buttons {
    background-color: @TERTIARY_2;
}

#visualization nav.left div.menu_buttons button {
    color: @TERTIARY_4 !important;
    background-color: @TERTIARY_1;
}

#visualization nav.left div.menu_buttons button:hover {
    background-color: @TERTIARY_MAIN;
}

#visualization nav.left div.menu_buttons button.active {
    background-color: @TERTIARY_MAIN;
}

#visualization nav.left div.dataTable {
    background-color: @TERTIARY_2;
    color: @TERTIARY_4;
}

#visualization nav.left div.dataTable li {
    border-bottom: 1px solid @TERTIARY_4;
    color: @TERTIARY_4 !important;
}

#visualization nav.left div.dataTable li.active {
    background-color: 1px solid @SECONDARY_MAIN;
    border-bottom: 1px solid @SECONDARY_1;
    border-right: 1px solid @SECONDARY_1; /*right border between menu items*/

    box-shadow: inset 7px 0 10px @HIGHLIGHT_1;
    text-shadow: 1px -1px 0px @TERTIARY_4;
}

#visualization nav.left  div.dataTable li.interaction:hover {
    box-shadow: inset 7px 0 10px @HIGHLIGHT_1;
}


/******************************/

#visualization nav.right {}

#visualization nav.right .menu_buttons {
    background-color: @SECONDARY_2;
}

#visualization nav.right div.menu_buttons button {
    color: @SECONDARY_4 !important;
    background-color: @SECONDARY_1;
}

#visualization nav.right div.menu_buttons button:hover {
    background-color: @SECONDARY_MAIN;
}

#visualization nav.right div.menu_buttons button.active {
    background-color: @SECONDARY_MAIN;
}

#visualization nav.right div.dataTable {
    background-color: @SECONDARY_2;
    color: @SECONDARY_4;
}

#visualization nav.right div.dataTable li.interaction {
    border-bottom: 1px solid @SECONDARY_4;
    color: @SECONDARY_4  !important;
}

#visualization nav.right div.dataTable li.active {
    background-color: 1px solid@TERTIARY_MAIN;
    border-bottom: 1px solid @TERTIARY_1;
    border-right: 1px solid @TERTIARY_1; /*right border between menu items*/

    box-shadow: inset 7px 0 10px @HIGHLIGHT_2;
    text-shadow: 1px -1px 0px @SECONDARY_1;
}

#visualization nav.right  div.dataTable li.interaction:hover {
    box-shadow: inset 7px 0 10px @HIGHLIGHT_2;
}

/*
* === Nav buttons ===
*/

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus,
.btn:active:focus, .btn:focus {
    outline: 0 !important;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.focus,
.btn-default:active.focus, .btn-default:active:focus, .btn-default-default:focus {
    outline: 0 !important;
}

.btn-toolbar{
    text-align: center !important;
}​

 .menu_buttons {
     display: block;
     padding: 2px;
     overflow: hidden;
     border-radius: 5px;
 }

div.menu_buttons button {
    outline: none !important;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    border-radius: 5px;
}

/*
* === Data lists ===
*/

.filter {
    margin-top: 10px;
    margin-bottom: 0px;
}

.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline-block;
}

div.dataTable {
    padding-top: 5px;
    padding-bottom: 5px;

    overflow-y: auto;
}


.list-unstyled {
    text-align: left !important;

    display:table;
    margin: 0 0;
    height: inherit;
    width: 100%;

    text-transform: uppercase;
}

li.interaction {
    padding: 3px 5px;
    width: 100% !important;
}

li.parentInteraction {
    border-bottom: none !important;
    list-style-type: none !important;
}

li.sublist {
    padding-left: 20px;
    border-bottom: none !important;
}

li.active {
    list-style-type: none !important;

    padding: 10px 15px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

li.interaction:hover {
    cursor: pointer;
}