<main xmlns:th="http://www.thymeleaf.org" class="container-fluid">
    <div class="row">
        <nav class="col col-lg-2 col-md-3 col-sm-3 left">
        </nav>

        <div class="clearfix visible-xs"></div>
        <div class="scene col col-lg-8 col-md-6 col-sm-6">

            <div id="adminAdjacency">
                <table class="table-bordered" id="adjacencyTable">

                    <thead>
                        <tr>
                            <th></th>
                            <th th:each="member : ${members}" th:text="${member.name}"></th>
                        </tr>
                    </thead>

                    <tr th:each="interaction : ${interactions}">
                        <th style="left: 0; position: relative;" th:text="${interaction.name}"></th>
                        <td th:each="member : ${members}">
                            <ng-rest-checkbox
                                   th:attr="interaction=${interaction.id}, member=${member.ID}, token=${_csrf.token}, checked=*{adjacency[member.ID][interaction.id]}"/>
                        </td>
                    </tr>

                </table>
            </div>

        </div>
        <div class="clearfix visible-xs"></div>

        <nav class="col col-lg-2 col-md-3 col-sm-3 right">
        </nav>
    </div>

    <script>
        $("#adjacencyTable").tableHeadFixer({ "left": 1 });
    </script>

</main>