<main xmlns:th="http://www.thymeleaf.org" class="container-fluid">
    <div class="row">
        <nav class="col col-lg-2 col-md-3 col-sm-3 left">
        </nav>

        <div class="clearfix visible-xs"></div>
        <div class="scene col col-lg-8 col-md-6 col-sm-6">

            <div id="choosePerson">
                <ng-person-choose left-height="572px" right-height="500px" th:attr="token=${_csrf.token}" ></ng-person-choose>
            </div>

        </div>
        <div class="clearfix visible-xs"></div>

        <nav class="col col-lg-2 col-md-3 col-sm-3 right">
        </nav>
    </div>

</main>