<main xmlns:th="http://www.thymeleaf.org" class="container-fluid">
    <div class="row">
        <nav class="col col-lg-2 col-md-3 col-sm-3 left">
        </nav>

        <div class="clearfix visible-xs"></div>
        <div class="scene col col-lg-8 col-md-6 col-sm-6" id="userAdjacency">

            <div class="row"><div class="center-block">
                <div>
                    <h3 th:text="${person.name}"></h3>
                    <ng-edit-adjacency th:attr="person-id=${person.ID}, token=${_csrf.token}" ></ng-edit-adjacency>
                </div></div>
            </div>

        </div>
        <div class="clearfix visible-xs"></div>

        <nav class="col col-lg-2 col-md-3 col-sm-3 right">
        </nav>
    </div>

</main>