<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en" ng-app="socialViz">
    <head></head>
    <body>

        <div  class="container-fluid" th:fragment="common_header">
            <div class="navbar" id="navbar-main">
                <ul class="nav navbar-nav navigation-toolbar">
                    <li class="navbar-li">
                        <form class="navbar-form" action="/" method="get" >
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-log-out logout-icon"></span> Home
                            </button>
                        </form>
                    </li>
                </ul>

                <div sec:authorize="isAnonymous()" class="navbar-right">
                    <form id="login_form" class="navbar-form" th:action="@{/login}" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="email" required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="password" required="required">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-log-in login-icon"></span> Sign In
                        </button>
                    </form>
                    <div id="register_button">
                        <a th:href="@{/registration}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-user user-icon"></span>Register
                        </a>
                    </div>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <form class="navbar-form navbar-right" th:action="@{/logout}" method="post" >
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-log-out logout-icon"></span> Logout
                        </button>
                    </form>
                </div>

            </div>
            <div class="clearfix visible-xs"></div>
        </div>

    </body>
</html>