/*
    http://paletton.com/palette.php?uid=3420S0kiyks5bokbom0qTjfCwic
*/
/*
* === COMMON ===
*/
html {
  overflow-y: scroll;
}
body {
  text-align: center;
  color: #0000a0 !important;
  font-family: 'Montserrat', sans-serif !important;
  background-color: #f0f0f0 !important;
}
button {
  text-align: center;
}
/*
* === BOOTSTRAP ===
*/
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  flex-direction: column;
}
/*
* === LOGIN ===
*/
#login_form {
  display: inline-block !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
}
#register_button {
  display: inline-block !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}
.logout-icon {
  color: white !important;
}
.a-button {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
.navigation-toolbar {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.navbar-li {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 0px !important;
}
.navbar-li form {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
/*
* === HEADER ===
*/
header {
  padding: 0.5%;
  margin: 0.5% auto;
  border-radius: 5px;
  text-align: center !important;
  float: none;
  background: #0000a0;
}
header h1 {
  text-align: center;
  max-height: inherit;
  color: #7574a0 !important;
}
header h1 a,
header h1 a:hover,
header h1 a:focus {
  text-decoration: none;
}
/*
* === FOOTER ===
*/
footer {
  text-align: center;
  color: #0000a0;
}
/*
* === OTHER ===
*/
.line {
  background: #7574a0;
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.tick {
  color: green !important;
}
