/*
    http://paletton.com/palette.php?uid=3420S0kiyks5bokbom0qTjfCwic
*/
/*
* === HIERARCHY MANAGEMENT ===
*/
#interactionsManagement {
  text-align: center;
  color: #0000a0;
  background-color: #f0f0f0;
}
/*
* === ADDING INTERACTION ===
*/
#addingInteraction .name {
  max-width: 50%;
}
#addingInteraction .peopleList {
  max-height: 400px !important;
  overflow-y: auto;
  border-radius: 25px;
  border: 2px solid #7574a0;
  background-color: #90a0ef;
  list-style: none;
  vertical-align: middle;
  text-align: justify !important;
}
