/*
    http://paletton.com/palette.php?uid=3420S0kiyks5bokbom0qTjfCwic
*/
#register {
  text-align: left !important;
  background-color: #f0f0f0;
  color: #0000a0 !important;
}
form {
  margin: 10px;
}
.form-group input {
  max-width: 300px;
}
