/*
    http://paletton.com/palette.php?uid=3420S0kiyks5bokbom0qTjfCwic
*/
#template {
  text-align: left !important;
  background-color: #f0f0f0;
  color: #0000a0 !important;
}
a {
  margin-top: 5px;
  margin-bottom: 15px !important;
}
