/*
    http://paletton.com/palette.php?uid=3420S0kiyks5bokbom0qTjfCwic
*/
/*
* === VISUALIZATION ===
*/
div.scene {
  min-width: 345px !important;
}
.vizCanvas {
  position: relative;
  background: black;
  width: 100%;
  margin: 0;
  /* 3:2*/
  padding: 0 0 66.66%;
}
#webglContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/*
* === SIDE BARS ===
*/
#visualization nav {
  padding: 2px;
  border-radius: 5px;
  background: #0000a0;
}
.dataTable {
  position: relative !important;
}
/******************************/
#visualization nav.left .menu_buttons {
  background-color: #8090ef;
}
#visualization nav.left div.menu_buttons button {
  color: #efefff !important;
  background-color: #6070ef;
}
#visualization nav.left div.menu_buttons button:hover {
  background-color: #90a0ef;
}
#visualization nav.left div.menu_buttons button.active {
  background-color: #90a0ef;
}
#visualization nav.left div.dataTable {
  background-color: #8090ef;
  color: #efefff;
}
#visualization nav.left div.dataTable li {
  border-bottom: 1px solid #efefff;
  color: #efefff !important;
}
#visualization nav.left div.dataTable li.active {
  background-color: 1px solid #90a0ef;
  border-bottom: 1px solid #6070ef;
  border-right: 1px solid #6070ef;
  /*right border between menu items*/
  box-shadow: inset 7px 0 10px rgba(255, 255, 255, 0.45);
  text-shadow: 1px -1px 0px #efefff;
}
#visualization nav.left div.dataTable li.interaction:hover {
  box-shadow: inset 7px 0 10px rgba(255, 255, 255, 0.45);
}
/******************************/
#visualization nav.right .menu_buttons {
  background-color: #8090ef;
}
#visualization nav.right div.menu_buttons button {
  color: #efefff !important;
  background-color: #6070ef;
}
#visualization nav.right div.menu_buttons button:hover {
  background-color: #90a0ef;
}
#visualization nav.right div.menu_buttons button.active {
  background-color: #90a0ef;
}
#visualization nav.right div.dataTable {
  background-color: #8090ef;
  color: #efefff;
}
#visualization nav.right div.dataTable li.interaction {
  border-bottom: 1px solid #efefff;
  color: #efefff !important;
}
#visualization nav.right div.dataTable li.active {
  background-color: 1px solid #90a0ef;
  border-bottom: 1px solid #6070ef;
  border-right: 1px solid #6070ef;
  /*right border between menu items*/
  box-shadow: inset 7px 0 10px rgba(255, 255, 255, 0.45);
  text-shadow: 1px -1px 0px #6070ef;
}
#visualization nav.right div.dataTable li.interaction:hover {
  box-shadow: inset 7px 0 10px rgba(255, 255, 255, 0.45);
}
/*
* === Nav buttons ===
*/
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
}
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.focus,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default-default:focus {
  outline: 0 !important;
}
.btn-toolbar {
  text-align: center !important;
}
​ .menu_buttons {
  display: block;
  padding: 2px;
  overflow: hidden;
  border-radius: 5px;
}
div.menu_buttons button {
  outline: none !important;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  border-radius: 5px;
}
/*
* === Data lists ===
*/
.filter {
  margin-top: 10px;
  margin-bottom: 0px;
}
.form-control-inline {
  min-width: 0;
  width: auto;
  display: inline-block;
}
div.dataTable {
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-y: auto;
}
.list-unstyled {
  text-align: left !important;
  display: table;
  margin: 0 0;
  height: inherit;
  width: 100%;
  text-transform: uppercase;
}
li.interaction {
  padding: 3px 5px;
  width: 100% !important;
}
li.parentInteraction {
  border-bottom: none !important;
  list-style-type: none !important;
}
li.sublist {
  padding-left: 20px;
  border-bottom: none !important;
}
li.active {
  list-style-type: none !important;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
li.interaction:hover {
  cursor: pointer;
}
