
<main class="container-fluid" ng-controller="visController" id="visualization">
    <div class="row">
        <nav class="col col-lg-2 col-md-3 col-sm-3 left" ng-left-nav>
            <div class="menu_buttons">
                <button class="btn btn-default tablinks">WG Members</button>
            </div>
            <ng-clearable-search filter="membersFilter"></ng-clearable-search>
            <div class="line"></div>
            <div class="dataTable" ng-style="{'max-height' : dataTableHeightLeft}">
                <ul class="list-unstyled">
                    <li ng-repeat="member in members | filter : membersFilter | filter : activeMembersFilter | orderBy : 'name'"
                        ng-bind="member.name" ng-click="setActiveLeft(member)" ng-class="{active: member.active}" class='interaction'>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="clearfix visible-xs"></div>
        <div class="scene col col-lg-8 col-md-6 col-sm-6">
            <div class="vizCanvas">
                <div id="webglContainer" ng-vizualization ></div>
                <div style="position: absolute; bottom: 0; left: 0;">
                    <button class="btn btn-default btn-sm" style="width: 104px !important; height: 30px !important;" ng-click="swapSpheres()">Swap spheres</button>
                </div>
            </div>
        </div>
        <div class="clearfix visible-xs"></div>

        <nav class="col col-lg-2 col-md-3 col-sm-3 right" ng-right-nav>
            <div class="menu_buttons">
                <button ng-repeat="interaction in hierarchicalInteractions" ng-class="{active: interaction==currActive}"
                        ng-bind="interaction.name" ng-click="click(interaction)" class="btn btn-default tablinks">
                </button>
            </div>
            <div class="filter">
                <ng-clearable-search filter="interactionsFilter"></ng-clearable-search>
            </div>
            <div class="line"></div>
            <div class="dataTable" ng-style="{'max-height' : dataTableHeightRight}">
                <ng-hierarchical-list ng-interactions='socialInteraction'
                                      program-state='programState'
                                      filter-states='filterStates'
                                      interactions-filter="interactionsFilter"
                ></ng-hierarchical-list>
            </div>
        </nav>
    </div>
</main>