<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <!-- boostrap requirement -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- meta -->
    <title>3DSV</title>
    <meta name="description" content="Social network visualization" />

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>

    <!-- icon -->
    <link rel="icon" type="image/png" href="/images/favicon.ico" />

    <!-- css -->
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/template.css" />

    <!-- javascript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="fragments/commonHeader :: common_header" ></div>

<main class="container-fluid" ng-controller="mainController">
    <div class="row">
        <div class="col col-lg-3 col-md-3 col-sm-3"></div>
        <div class="clearfix visible-xs"></div>
        <div id="template" class="col col-lg-6 col-md-6 col-sm-6">
            <h3 th:text="${message.title}"></h3>
            <a th:href="${message.href}" th:text="${message.message}"></a>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col col-lg-3 col-md-3 col-sm-3"></div>
    </div>
</main>

</body>
</html>